@charset "UTF-8";
/*===================================
　　　　　base
===================================*/
.pc_w800 { width: 800px;margin: 0 auto; }
/*===　clearfix ===*/
.clearfix{min-height:1px}
.clearfix:after{content:"."; display:block; clear:both; height:0; visibility:hidden}
* html .clearfix{height:1px; height:auto; overflow:hidden}

/*===　float-left + clearfix ===*/
.flLeft{ min-height:1px}
.flLeft li{ list-style:none}
.flLeft >li, 
.flLeft >div{ float:left}
.flLeft:after{ content:".";  display:block;  clear:both;  height:0;  visibility:hidden}
* html .flLeft{ height:1px;  height:auto;  overflow:hidden}

/*===　component ===*/
.clear{clear:both}
.center{text-align:center}
.left{float:left; margin-right:15px; margin-bottom:15px}
.right{float:right; margin-left:15px !important; margin-bottom:15px !important}
.caption{ display:table;  width:1%}
.caption span{ display:block;  margin-top:10px;  margin-bottom:30px;  font-size:12px;  line-height:1.3em;  padding:0;  text-align:center}

/*===　button ===*/
.s-btn{text-align:center}
.s-btn a{display:inline-block; margin:20px auto 0; padding:6px 30px; border-radius:7px}
.s-btn a:hover{opacity:0.5; -ms-filter:"alpha( opacity=50 )"; text-decoration:none}

/*-- button(type1) --*/
.s-btn1 a{background:#00be45;/*background: #0079BE;*/ color:#fff}

/*===　utill ===*/
.mt0 { margin-top:0px !important}

.mr0 { margin-right:0px !important}

.mb0 { margin-bottom:0px !important}

.ml0 { margin-left:0px !important}

.pt0 { padding-top:0px !important}

.pr0 { padding-right:0px !important}

.pb0 { padding-bottom:0px !important}

.pl0 { padding-left:0px !important}

.mt5 { margin-top:5px !important}

.mr5 { margin-right:5px !important}

.mb5 { margin-bottom:5px !important}

.ml5 { margin-left:5px !important}

.pt5 { padding-top:5px !important}

.pr5 { padding-right:5px !important}

.pb5 { padding-bottom:5px !important}

.pl5 { padding-left:5px !important}

.mt10 { margin-top:10px !important}

.mr10 { margin-right:10px !important}

.mb10 { margin-bottom:10px !important}

.ml10 { margin-left:10px !important}

.pt10 { padding-top:10px !important}

.pr10 { padding-right:10px !important}

.pb10 { padding-bottom:10px !important}

.pl10 { padding-left:10px !important}

.mt15 { margin-top:15px !important}

.mr15 { margin-right:15px !important}

.mb15 { margin-bottom:15px !important}

.ml15 { margin-left:15px !important}

.pt15 { padding-top:15px !important}

.pr15 { padding-right:15px !important}

.pb15 { padding-bottom:15px !important}

.pl15 { padding-left:15px !important}

.mt20 { margin-top:20px !important}

.mr20 { margin-right:20px !important}

.mb20 { margin-bottom:20px !important}

.ml20 { margin-left:20px !important}

.pt20 { padding-top:20px !important}

.pr20 { padding-right:20px !important}

.pb20 { padding-bottom:20px !important}

.pl20 { padding-left:20px !important}

.mt25 { margin-top:25px !important}

.mr25 { margin-right:25px !important}

.mb25 { margin-bottom:25px !important}

.ml25 { margin-left:25px !important}

.pt25 { padding-top:25px !important}

.pr25 { padding-right:25px !important}

.pb25 { padding-bottom:25px !important}

.pl25 { padding-left:25px !important}

.mt30 { margin-top:30px !important}

.mr30 { margin-right:30px !important}

.mb30 { margin-bottom:30px !important}

.ml30 { margin-left:30px !important}

.pt30 { padding-top:30px !important}

.pr30 { padding-right:30px !important}

.pb30 { padding-bottom:30px !important}

.pl30 { padding-left:30px !important}

.mt35 { margin-top:35px !important}

.mr35 { margin-right:35px !important}

.mb35 { margin-bottom:35px !important}

.ml35 { margin-left:35px !important}

.pt35 { padding-top:35px !important}

.pr35 { padding-right:35px !important}

.pb35 { padding-bottom:35px !important}

.pl35 { padding-left:35px !important}

.mt40 { margin-top:40px !important}

.mr40 { margin-right:40px !important}

.mb40 { margin-bottom:40px !important}

.ml40 { margin-left:40px !important}

.pt40 { padding-top:40px !important}

.pr40 { padding-right:40px !important}

.pb40 { padding-bottom:40px !important}

.pl40 { padding-left:40px !important}

.mt45 { margin-top:45px !important}

.mr45 { margin-right:45px !important}

.mb45 { margin-bottom:45px !important}

.ml45 { margin-left:45px !important}

.pt45 { padding-top:45px !important}

.pr45 { padding-right:45px !important}

.pb45 { padding-bottom:45px !important}

.pl45 { padding-left:45px !important}

.mt50 { margin-top:50px !important}

.mr50 { margin-right:50px !important}

.mb50 { margin-bottom:50px !important}

.ml50 { margin-left:50px !important}

.pt50 { padding-top:50px !important}

.pr50 { padding-right:50px !important}

.pb50 { padding-bottom:50px !important}

.pl50 { padding-left:50px !important}

.mt55 { margin-top:55px !important}

.mr55 { margin-right:55px !important}

.mb55 { margin-bottom:55px !important}

.ml55 { margin-left:55px !important}

.pt55 { padding-top:55px !important}

.pr55 { padding-right:55px !important}

.pb55 { padding-bottom:55px !important}

.pl55 { padding-left:55px !important}

.mt60 { margin-top:60px !important}

.mr60 { margin-right:60px !important}

.mb60 { margin-bottom:60px !important}

.ml60 { margin-left:60px !important}

.pt60 { padding-top:60px !important}

.pr60 { padding-right:60px !important}

.pb60 { padding-bottom:60px !important}

.pl60 { padding-left:60px !important}

.mt65 { margin-top:65px !important}

.mr65 { margin-right:65px !important}

.mb65 { margin-bottom:65px !important}

.ml65 { margin-left:65px !important}

.pt65 { padding-top:65px !important}

.pr65 { padding-right:65px !important}

.pb65 { padding-bottom:65px !important}

.pl65 { padding-left:65px !important}

.mt70 { margin-top:70px !important}

.mr70 { margin-right:70px !important}

.mb70 { margin-bottom:70px !important}

.ml70 { margin-left:70px !important}

.pt70 { padding-top:70px !important}

.pr70 { padding-right:70px !important}

.pb70 { padding-bottom:70px !important}

.pl70 { padding-left:70px !important}


/*---------- 見出しスタイル ---------*/
.l_container h1,
.l_container h2,
.l_container h3,
.l_container h4,
.l_container h5,
.l_container h6 {
	font-weight: bold;
}

main h1 {
	font-size: 26px;
	height: 41px;
	line-height: 17px;
	padding-left: 30px;
	background: url(/assets/templates/v1/bg_h1.png) no-repeat 0 0;
}
main h2 {
	font-size: 24px;
	margin: 0 0 30px;
}
main h2.nosymbol {
	background: none;
	border-bottom: solid 1px #603912;
}
main h2.appeal01 {
	padding-left: 0;
	margin: 1.5em 0 1.5em 0;
	height: auto;
	line-height: 1em;
	font-size: 24px;
	font-family: "HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
	background: none;
	color: #4e4e4e;
	clear: both;
}
.l-body .lbox h2,
.l-body .profile h2,
.l-body .topic h2 { margin-top:0; }
.text_overflow {
	height: 60px;
	overflow: hidden;
}
main h3 {
	font-size: 18px;
	font-family: 'ヒラギノ角ゴ Pro W6';
	margin: 0 0 5px 0;
	color: #0071bd;
	clear: both;
}
main p,
dd {
	font-size: 14px;
	line-height: 2.0em;
}
main p {
	margin: 0 0 20px;
}
main p.noindent {
	text-indent:0em;
}
main em {
	font-style: normal;
	text-decoration: underline;
}
/*---------- a ---------*/
main p a,
main table a,
main li a,
main dd a {
	color: #333333;
	text-decoration:none;
	border-bottom: dotted 1px #0071bd;
}
div:hover,a:hover,div:focus,a:focus, {
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

/*---------- img ---------*/
figure {
	margin: 20px 0;
}

/*---------- table ---------*/
table.border_dotted {
	border-top: dotted 1px #0071bd;
	margin-bottom: 40px;
}
table.border_dotted tr th,
table.border_dotted tr td {
	padding: 16px;
	vertical-align:top;
	border-bottom: dotted 1px #0071bd;
}
table.border_dotted tr th {
	text-align:left;
	color: #0071bd;
	white-space: nowrap;
}
/*---------- list ---------*/
ul,
ol {
	padding-left: 0;
}
li {
	list-style: none;
}
.list_disc {
	margin-left: 10px;
}
.list_disc li:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #0071bd;
	border-radius: 5px;
	margin-right: 10px;
	position: relative;
	top: -3px;
}


main hr {
	display:block;
	margin: 60px 0;
	margin-left: -40px;
	width: 1000px;
	height: 1px;
	clear: both;
	border: 0;
	background-image: url(/assets/templates/v1/sepalator.png);
}
main .small {
	font-size:0.5em;
}
main .sepalate {
	margin: 1em 0;
	text-align: center;
}

/*---------- dl ---------*/
.dl_color dt {
	color: #0071bd;
}
.dl_color dd {
	margin-bottom: 5px;
}

/*---------- date ---------*/
main p.date {
	font-size:0.9em;
	color:#aaaaaa;
}
/*---------- shadow ---------*/
main img.shadow240 {
	display: block;
	width:240px;
	margin: 0 auto;
	padding-bottom:14px;
	background-image: url(/assets/templates/v1/shadow-240.png);
	background-position: bottom;
}
main img.shadow400 {
	display: block;
	width:400px;
	margin: 0 auto;
	padding-bottom:18px;
	background-image: url(/assets/templates/v1/shadow-400.png);
	background-position: bottom;
}
/*---------- media ---------*/
.s-media{position:relative; padding:40px 0; border-bottom:solid 1px #c7c7c7}
.s-media:hover{color:#303030; background:#f0f0f0}
.s-media a{color:#303030; text-decoration:none}
.s-media p{line-height:1.5}
.s-media h2{margin-bottom:10px}
.s-media .category{height:28px; line-height:28px; padding:0 20px; font-size:10px; position:absolute; top:70px; left:20px; z-index:10}
.s-media .category:after{top:28px}
.s-media .s-media_img{width:200px; height:133px; overflow:hidden; float:left}
.s-media .s-media_img img{width:100%}
.s-media .s-media_text{width:60%; float:right}

.bgColor_block {
	background-color: #E6F1F8;
	padding: 20px;
	margin: 30px 0;
}
.guideLine {
	font-size: 22px;
	padding: 20px 40px;
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.guideLine li {
	margin-bottom: 10px;
}
.guideLine li:before {
	display: inline-block;
	content:'';
	width: 6px;
	height: 6px;
	background-color: #0071bd;
	border-radius: 5px;
	margin-right: 20px;
	position: relative;
	top: -4px;
}

/*==============================================================================*/
/*                                 scrollNav                                   */
/*==============================================================================*/
.scrollNav {
	background-color: #f0f0f0;
	width: 100%;
}
.scrollNav ul {
	display: table;
	table-layout: fixed;
	height: 50px;
	padding: 0;
	width: 580px;
	margin: 0 auto;
	line-height: 50px;
}
.scrollNav ul li {
	display: table-cell;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.scrollNav ul li a {
	display: block;
	color: #000;
	font-size: 13px;
	text-decoration: none;
	position: relative;
}
.scrollNav ul li.active a:after {
	content: '';
	width: 13px;
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: url(/assets/templates/v1/scrollNav_arrow.gif);
}
/*==============================================================================*/
/*                                 form                                   */
/*==============================================================================*/
.formStep {
	width: 746px;
	margin: 50px auto;
}
.scrollNav {display:none;}

input {
	width: 200px;
	height: 22px;
	padding: 10px 18px;
	font-size: 15px;
}
.formText {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 45px;
}
.require, .error {
	font-weight: bold;
	color: #F00;
	text-align: left;
}
.entryForm,.formArea th {
	text-align: right;
	color: #000;
	font-size: 17px;
}
.entryForm,.formArea td {
	text-align: left;
}
.entryForm,.formArea td span {
	font-size: 13px;
}
textarea {
	padding: 10px 18px;
	font-size: 15px;
}
.check,.revision,.pageBack {
	display: block;
	width: 280px;
	height: 60px;
	text-indent: -1000em;
	border: none;
	margin: 70px auto;
	margin-bottom: 0;
}
.check { background: url(/content/images/7contact/submit.gif); }
.revision { background: url(/content/images/7contact/revision.gif); }
.pageBack { background: url(/content/images/7contact/gotop.gif); }
	.check:hover,.revision:hover,.pageBack:hover, 
	.check:focus,.revision:focus,.pageBack:focus {
		opacity: 0.5;
		-ms-filter: "alpha( opacity=50 )";
	}
input {
	height: 34px;
	width: 70%;
	padding: 2px 8px;
	font-size: 15px;
}
th {
	font-size: 14px;
	font-weight: normal;
}
.require, .error {
	font-weight: bold;
	color: #F00;
}
main tr th {
	text-align: left;
	color: #0071bd;
}
textarea {
	padding: 5px 8px;
	width: 100%;
	height: 160px;
	font-size: 15px;
}
.check {
	display: block;
	width: 280px;
	height: 60px;
	text-indent: -1000em;
	border: none;
	margin: 70px auto;
	margin-bottom: 0;
	background: url(/content/images/7contact/submit.gif);
}
.check:hover,
.check:focus {
	opacity: 0.5;
	-ms-filter: "alpha( opacity=50 )";
}
.LinkBox {
	width: 240px;
	height: 50px;
	margin-bottom: 2px;
}
.LinkBox a {
	display: block;
	line-height: 50px;
	border: solid 1px  #c8c8c8;
	position: relative;
	padding-left: 20px;
}
.LinkBox a:before {
	position: absolute;
	top: 0;
	right: 20px;
	color: #0171bb;
	font-size: 17px;
}
.LinkBox a.active {
	color: #fff;
	background-color: #0171bb;
}
.LinkBox a.active:before  {
	color: #fff;
}
table.checkFrame {
	width: 920px;
}
table.checkFrame th {
	text-align: left;
}
table.checkFrame td {
	width: 635px;
}

/*==============================================================================*/
/*                               TEMPLATE STYLE                                 */
/*==============================================================================*/
.ctg6 .l-body {
	width: 940px;
	margin: 0 auto;
}
.technology-main h1 {
	font-size:22px;
	font-weight:normal;
	margin:0;
	padding:0;
	width:480px;
	height:auto;
	line-height:1.3em;
}
.technology-main p {　font-size:15px;}
.technology-main .author {
	width:120px;
	position:absolute;
	top:20px; right:40px;
	text-align:center;
	text-decoration:none;
	color:#333;
	font-family: 'ヒラギノ角ゴ Pro W6';
}
.technology-main .author:hover,
.technology-main .author:focus {
	background-color:#eee;
	color:#0071bd;
}
.technology-main .author p {
	font-size:12px;
	margin: 0;
}
.technology-main .author img {
	width:100px;
	margin-top:10px;
}
.category {
	padding: 4px 20px;
	background-color:#0071bd;
	color:#fff; font-size:12px;
	font-family: 'ヒラギノ角ゴ Pro W6';
	position: absolute;
	top: 0;
	left: 0;
}
.category_inner {
	top:20px; left:-10px;
}
.category:after { 
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 0;
	border-color: transparent #0071bd transparent transparent;
	line-height: 0px;
	_border-color: #000000 #0071bd #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	position: absolute;
	top: 36px;
	left: 0;
 }
.technology-main h2 {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.2em;
	margin: 40px 0 20px;
}
.technology-main h3 {
	font-size: 18px;
	color: #0071bd;
	margin: 20px 0 10px;
	font-weight: bold;
}
.technology-main h4 {
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	margin:10px 0;
	padding-left: 10px;
	font-weight: bold;
	border-left: 2px solid #0271b9;
	background-color: #f0f0f0;
}
.l-content_left { float: left; }
.l-content_right {
	width: 690px;
	position:relative;
	margin-top:60px;
	padding: 70px 50px 50px 50px;
	float: right;
}
.ctg6 main { width: auto; }
/*==============================================================================*/
/*                               事業内容                                 */
/*==============================================================================*/
.float_btn {margin-top: 20px; }
.float_btn li { margin-left: 5px; }
.float_btn li:first-child { margin-left: 0; }
.float_btn li a {
	display: block;
	border: none;
	color: #FFF;
	text-decoration: none;
}
.l-body .business .content { margin: 20px 0; }
.l-body .business h3 { clear: none; }
.l-body .business .introduction_cast {
	font-size: 18px;
	clear: both;
	font-weight: bold;
}
.l-body .business .introduction_cast span {
	margin-left: 10px;
	font-weight: normal;
}


/*お問い合わせフォーム*/
main form table{
	width: 100%;
}
main form tr th:first-child{
	width: 270px;
}
.bg_gray {
	background-color: #f8f8f8;
}




