//position: absoluteのposition指定
@mixin positionA ($top: auto, $right: auto,$bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
//例：@include positionA (5px, 20px, 10px, 15px);


//rem IE8対応
@mixin fontsize($size: 24, $base: 16) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}
//例：@include fontsize(12);

//retina対応
@mixin imgRetina($image, $extension, $width, $height) {
     background: url($image + '.' + $extension) no-repeat;
     width: $width;
     height: $height;

     @media (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 2.6/2),
           (-webkit-min-device-pixel-ratio: 1.3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx) {
                background-image: url($image + '-2x' + '.' + $extension) no-repeat;
                background-size: $width $height;
     }
}

//例：@include imgRetina(imgFileName, png, 100px, 40px);

//準備するファイル
//imgFileName.png
//imgFileName-2x.png

//縦センター
@mixin ht($ht) {
    height: $ht + px;
    line-height: $ht + px;
}
//例：@include ht(15);

//文字間
@mixin ls($ls) {
    letter-spacing: $ls + em;
    text-indent: $ls + em;
}
//例：@include ls(0.5);

//正円
@mixin circle($size){
    width: $size + px;
    height: $size + px;
    @include border-radius(100%);
}

//例：@include circle(50);


//矢印
@mixin arrow($direction: right, $size: 10, $color: $black){
    $set: left;

    @if $direction == left{
        $set: right;
    }@elseif $direction == top{
        $set: bottom;
    }@elseif $direction == bottom{
        $set: top;
    }@else{
        $set: left;
    }
    $size: round($size / 2);

    width: 0;
    height: 0;
    border: $size + px solid transparent;
    border-#{$set}-color: $color;
}

//例@include arrow(right,20,#333);

//media querys
@mixin query($size) {
    @media screen and (max-width: $size + px) {
        @content;
    }
}
