// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-sprite-sp01-name: 'sprite-sprite_sp01';
$sprite-sprite-sp01-x: 0px;
$sprite-sprite-sp01-y: 0px;
$sprite-sprite-sp01-offset-x: 0px;
$sprite-sprite-sp01-offset-y: 0px;
$sprite-sprite-sp01-width: 159px;
$sprite-sprite-sp01-height: 166px;
$sprite-sprite-sp01-total-width: 159px;
$sprite-sprite-sp01-total-height: 166px;
$sprite-sprite-sp01-image: '/wp-content/themes/wp-template/assets/images/sprite_sp.png';
$sprite-sprite-sp01: (0px, 0px, 0px, 0px, 159px, 166px, 159px, 166px, '/wp-content/themes/wp-template/assets/images/sprite_sp.png', 'sprite-sprite_sp01', );
$spritesheet-width: 159px;
$spritesheet-height: 166px;
$spritesheet-image: '/wp-content/themes/wp-template/assets/images/sprite_sp.png';
$spritesheet-sprites: ($sprite-sprite-sp01, );
$spritesheet: (159px, 166px, '/wp-content/themes/wp-template/assets/images/sprite_sp.png', $spritesheet-sprites, );


